.view {
  position: absolute;
  top: 20%;
  left: 73%;
  transform: translate(0%, 40%);
  color: var(--main-theme);
  cursor: pointer;
}
:root {
  --main-theme: #b91d1d;
}

.setting {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  color: var(--main-theme);
  cursor: pointer;
}

.setting:hover {
  color: grey;
}
